<div class="aboutclas" id="about">
<hr>
<span class="heading-meta text-left">Who Am I?</span>
<h4 class="mb-5">ABOUT ME</h4>

<p class="text-md-left text-sm-left text-xl-left text-lg-left m-4 pb-5" style="font-size: 20px;">

    <strong>Hi my name is Ahmed Sakic</strong>.
    Currently I am final year student that has various expertise in
     Angular,Bootstrap,Java,JavaScipt,C++,Html and Css. <br>
     I am pursuing my Bachelor degree in Information Technology at Informaciono Internacionalna poslovno-informaciona akademija.
     Made a few live projects including this portfolio.
     <br><br>
    
     Lover of innovation and everything related to generate new knowledge.Face problems with a smile and solve them as soon as possible.
     <br> Main goal is to learn and improve in web development field.
</p>

</div>
