<div class="aboutclas" id="about">
<hr>
<span class="heading-meta text-left">Who Am I?</span>
<h4 class="mb-5">ABOUT ME</h4>

<p class="text-md-center text-sm-left text-xl-center text-lg-center m-4" style="font-size: 20px;">

    <strong>Hi I'm Ahmed Sakic</strong>.
    Currently I am student of Information Technology that has various expertise in
     Angular,Java,JavaScipt,c++,Html and Css.
     I was born in 1996 in Tuzla, city of Bosnia and Herzegovina.
     By the end of the year i will be 24 year old. <br>
     I am final year student and will graduate from Internacionalna poslovno-informaciona akademija in mid 2021. 
</p>

</div>
