<div class="contactclass" id="contact">



    <hr>
    <span class="heading-meta text-left">get in touch</span><br>
    <h3 style="float: left;">CONTACT</h3><br>

    <div class="row mt-5">

        <div class="col-md-5">
            <img src="./assets/images/phone.svg" class="rounded mx-auto d-block" alt="">
            
            <p><a href="tell://" style="margin-top: 100;">Phone/Viber: <br> +(387)60 333 8676</a></p><br><br>

            <img src="./assets/images/location.svg" class="rounded mx-auto d-block" alt="">
            <p>Location: <br>Tuzla, Musala 03</p><br><br>

            <img src="./assets/images/mail.svg" class="rounded mx-auto d-block" alt="">
            <p>Email: <br>ahmosakic@gmail.com</p><br><br>

            <img src="./assets/images/facebook.svg" class="rounded mx-auto d-block" alt="">
            <p><a href="https://www.facebook.com/ahmed.sakic">Facebook</a></p><br><br>



        </div>

        <div class="col-md-6">

<div class="form-group">

    <input type="text" class="form-control" placeholder="Name">
    <input type="text" class="form-control" placeholder="Email">
    <input type="text" class="form-control" placeholder="Subject">
    <textarea name="poruka" id="message" cols="30" rows="10" class="form-control" placeholder="Message"></textarea>
    <div class="btn btn-primary">Send Message</div>

    

</div>



            
        </div>


        <div align=center><a href='https://www.counter12.com' class="webcounter"><img src='https://www.counter12.com/img-ya5CWz603y3ZZWwA-17.gif' border='0' alt='web counter free'></a><script type='text/javascript' src='https://www.counter12.com/ad.js?id=ya5CWz603y3ZZWwA'></script></div>
    </div>



</div>
