
<div class="skillclass" id="skills">
<hr>
    <span class="heading-meta text-left">skills</span>

    <h3 class="mb-15" style="float: left;">Primary Skils</h3><br><br>
    <div class="row">
<div class="col-md-6">
<span style="float: left;">Java</span>
<span style="float: right;">90%</span>
<br>
    <div class="progress" style="height:5px">
        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="90" aria-valuemin="90" aria-valuemax="100" style="width: 90%;height:10px;">
      </div>
    </div>
    <span style="float: left;">JavaScript</span>
    <span style="float: right;">80%</span>
    <br>
    <div class="progress" style="height:5px">
        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 80%;height:10px;">
      </div>
    </div>
    <span style="float: left;">C/C++</span>
    <span style="float: right;">60%</span><br>
    <div class="progress" style="height:5px">
        <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%;height:10px;">
      </div>
    </div>

    <span style="float: left;">Angular</span>
    <span style="float: right;">55%</span><br>
    <div class="progress" style="height:5px">
        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 55%;height:10px;">
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <span style="float: left;">HTML/CSS</span>
    <span style="float: right;">70%</span><br>
    <div class="progress" style="height:5px">
        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 70%;height:10px;">
      </div>
    </div>

    <span style="float: left;">MySQL</span>
    <span style="float: right;">60%</span><br>
    <div class="progress" style="height:5px">
        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 60%;height:10px;">
      </div>
    </div>

    <span style="float: left;">Data Strucures and Algorithms</span>
    <span style="float: right;">75%</span><br>
    <div class="progress" style="height:5px">
        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 75%;height:10px; background-color: coral;">
      </div>
    </div>

    <span style="float: left;">Qt5</span>
    <span style="float: right;">65%</span><br>
    <div class="progress" style="height:5px">
        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 65%;height:10px;">
      </div>
    </div>
  </div>
</div>
    <hr>
    <h3 class="mt-2 mb-15" style="float: left;">Other skills</h3><br>
<div class="mt-3 pb-2">
  <br>


<ul>

  <li>Git and Github</li>
  <li>JavaFX</li>
  <li>Familiar with device drivers</li>
</ul>
</div>




</div>