<div class="languagesclass" id="languages">

    <hr>
    <span class="heading-meta text-left">what languages do i speak</span>
<h3>My Languages</h3>
    <div class="row mt-5">

<div class="col-md-6 mb-2 pl-5">
        <div class="card" style="width:90%; border-bottom: 2px solid red;">
            <img class="card-img-top" src="./assets/images/english.png" alt="Card image" style="width:100%; height: 220px;">
            <div class="card-body">
              <h4 class="card-title">English</h4>
              <p class="card-text">Both well understood and spoken</p>
              
            </div>
          </div>
        </div>
<div class="col-md-6 pl-5">
          <div class="card" style="width:90%; border-bottom: 2px solid blue;">
            <img class="card-img-top" src="./assets/images/bosnian.png" alt="Card image" style="width:100%; height: 220px;">
            <div class="card-body">
              <h4 class="card-title">Bosnian</h4>
              <p class="card-text">Mother tongue</p>
              
            </div>
          </div>

        </div>

    </div>






</div>
