
<nav class="sticky-top" id="sidebar">
        
    <div class="text-center">
        <div class="myimg" style="background-image: url(./assets/images/img1.jpg);">
     
        </div>
        <h3>Ahmed Sakic</h3>
        <p>IT Student</p>
    </div>
            <ul class="list-unstyled components">
                
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                
                <li>
                    <a href="#education">Education</a>
                </li>
                
                <li>
                    <a href="#languages">Language</a>
                </li>
                <li>
                    <a href="#skills">Skills</a>
                </li>
                <li>
                    <a href="#projekat">Projects</a>
                </li>
                
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
            <p>This site is made using<br> Angular 10 and Bootstrap 4</p>
            <p>Source code on <a href="https://github.com/Mcraellhs"><b>GITHUB</b></a></p>
        </nav>
    